<p>An online ticket selling web application.</p>

<%= link_to 'Show events', events_path %>
</br>
</br>

Contact Us
<table>
  <tr>
    <td>Sichun Ai</td><td>sichunai@asu.edu</td>
  </tr>
  <tr>
    <td>Melissa Ip</td><td>mip@asu.edu</td>
  </tr>
  <tr>
    <td>Ayushi Jain</td><td>ajain64@asu.edu</td>
  </tr>
</table>